body {
  background-color: #f1f1f1;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

.rectangle {
  width: 100px;
}


// Navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #fff;


      &.active {
        font-weight: bold;
        color: #fff !important;



      }


    }
  }
}

.nav-item {
  .nav-link {
    img {
      margin-top: 0px;
    }
  }
}

.dropdown-menu.show {
  background-color: #9F8D5F;
  opacity: 0.8;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -17px !important;

  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #b8c3dc;
  color: #fff;

  &:hover {
    background-color: #071c4d;
    color: #fff;
  }
}

// Header

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/header.png");
  background-size: cover;

  h1,
  p {
    color: #fff;
  }

  h1 {
    font-family: "playfair Display", serif;
    font-weight: bold;
    font-style: inherit;
  }

  p {
    font-size: 22px;
    font-family: "assistant", sans-serif;
  }

  .btn-see-more {
    background-color: #9F8D5F;
    color: #fff;
    border-radius: 26px;

    &:hover {
      background-color: #d1bd8b;
      color: #fff;
    }
  }

  .btn-outline-secondary {
    border-radius: 26px;
  }

  .btn-about-me {
    background-color: transparent;
    border: turquoise;
    color: #fff;
    border-radius: 26px;

    &:hover {
      background-color: #d1bd8b;
      color: #fff;
    }
  }
}


.section-popular {
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;

    h2,
    p {
      color: #fff;
    }



    h2 {
      font-family: "playfair display", serif;
      font-weight: bold;
      font-size: 40px;
    }

    p {
      font-family: "Assistant", sans-serif;
      font-size: 18px;
    }
  }
}


// Popular
.section-gallery-2 {
  min-height: 540px;
  background-color: #9F8D5F;
  margin-top: 150px;
  margin-bottom: 80px;


  .section-galery-heading2 {
    margin-top: 30px;

    h2,
    p {
      color: rgb(255, 255, 255);
    }


    h2 {
      font-family: "Libre Baskerville";
      font-weight: bold;
      font-size: 32px;
      padding-bottom: 0;
    }

    h1 {
      margin-top: -40px;
    }

    p {
      font-family: "Assistant", sans-serif;
      font-size: 18px;
    }
  }
}

.section-gallery {
  margin-top: -120px;
  margin-bottom: 100px;

  .section-galery-heading {
    margin-top: 150px;

    h2,
    p {
      color: rgb(14, 6, 82);
    }


    h2 {
      font-family: "Libre Baskerville";
      font-weight: bold;
      font-size: 40px;
      padding-bottom: 0;
    }

    h1 {
      margin-top: -40px;
    }

    p {
      font-family: "Assistant", sans-serif;
      font-size: 18px;
    }
  }
}


.section-lawyer-content {
  background-color: #F1F1F1;

  .section-popular-package {
    .card-travel {
      min-height: 60px;
      background-color: #ddd;
      padding: 30px;
      background-size: cover;
      margin-bottom: 120px;
      margin-top: -100px;
      background-position: center;

      img {
        background-color: transparent;
      }
    }

    .card-mediation {
      min-height: 570px;
      background-color: #9F8D5F;
      padding: 30px;
      background-size: cover;
      margin-bottom: 120px;
      margin-top: -100px;
      background-position: center;

      img {
        background-color: transparent;
      }
    }

    .travel-country {
      font-size: 18px;
      color: #fff;
    }

    .travel-location {
      font-size: 26px;
      color: #fff;
      padding-left: 0px;

    }

    .main {
      text-align: justify;
    }

    .travel-button {
      .btn-travel-details {
        background-color: #ff9e53;
        color: #fff;

        &:hover {
          background-color: #af652c;
          color: #fff;
        }
      }
    }
  }
}

.section-gallery-content {
  .section-gallery-lawyer {
    .card-gallery {
      min-height: 380px;
      background-color: #dddddd;
      margin-bottom: 40px;
      background-position: center;

      table {
        margin: 10px 20px;
      }
    }



    .gallery-content {
      padding: 20px;

      h3 {
        font-size: 22px;
      }

      .lawyer-button {
        .btn-gallery-content {
          background-color: #494A5D;
          color: #fff;

          &:hover {
            background-color: #727387;
            color: #fff;
          }
        }
      }

    }


  }


}

.section-help-me {
  margin-top: 150px;
  margin-bottom: 150px;

  .section-galery-header {


    h2,
    p {
      color: #494A5D;
    }

    h3 {
      color: #9F8D5F;
      font-family: "Libre Baskerville";
      font-size: bold;
      margin-top: 20px;
    }


    h2 {
      font-family: "Libre Baskerville";
      font-weight: bold;
      font-size: 28px;
      padding-bottom: 0;
    }

    h1 {
      margin-top: -40px;
    }

    p {
      font-family: "Assistant", sans-serif;
      font-size: 18px;
    }
  }

  .btn-see-more {
    background-color: #9F8D5F;
    color: #fff;
    border-radius: 26px;

    &:hover {
      background-color: #d1bd8b;
      color: #fff;
    }
  }
}


.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #ddd;
      margin-top: 210px;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;
      background-position: center;

      img {
        background-color: #051334;
      }
    }


    .travel-country {
      font-size: 18px;
      color: #fff;
    }

    .travel-location {
      font-size: 26px;
      color: #fff;
    }

    .travel-button {
      .btn-travel-details {
        background-color: #ff9e53;
        color: #fff;

        &:hover {
          background-color: #af652c;
          color: #fff;
        }
      }
    }
  }
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  img {
    max-width: 100%;
  }
}

.section-testimonial-heading {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;

  .card-testimonial {
    padding: 40px 0px 10px;
    border-radius: 11px;
    margin-bottom: 20px;

    .testimonial-content {
      min-height: px;
      width: 180px;
    }

    .gallery-content {
      width: 140px;
    }

    h3 {
      font-size: 22px;
    }

    .testimonial {
      font-weight: normal;
      font-size: 22px;
      color: #87878a;
      min-height: 180px;
      margin-left: 2000px;
    }

    .trip-to {
      font-weight: normal;
      font-size: 22px;
      color: #87878a;
    }

    hr {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .btn-get-started {
    background-color: #b69277;
    color: #fff;

    &:hover {
      background-color: #fa9e57;
      color: #fff;
    }
  }

  .btn-need-help {
    background-color: #e9e9e9;
    color: #C3C3C3;

    &:hover {
      background-color: #f7f4f4;
      color: #C3C3C3;
    }
  }
}

.section-footer {
  ul a {
    color: #ffffff
  }

  h5 {
    color: #fff;
  }

  background-color: #494A5D;
}

.container-fluid {
  color: white;
}