body {
  background-color: #f1f1f1;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

.rectangle {
  width: 100px;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #fff !important;
}

.nav-item .nav-link img {
  margin-top: 0px;
}

.dropdown-menu.show {
  background-color: #9F8D5F;
  opacity: 0.8;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -17px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #b8c3dc;
  color: #fff;
}

.btn-login:hover {
  background-color: #071c4d;
  color: #fff;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/header.png");
  background-size: cover;
}

header h1,
header p {
  color: #fff;
}

header h1 {
  font-family: "playfair Display", serif;
  font-weight: bold;
  font-style: inherit;
}

header p {
  font-size: 22px;
  font-family: "assistant", sans-serif;
}

header .btn-see-more {
  background-color: #9F8D5F;
  color: #fff;
  border-radius: 26px;
}

header .btn-see-more:hover {
  background-color: #d1bd8b;
  color: #fff;
}

header .btn-outline-secondary {
  border-radius: 26px;
}

header .btn-about-me {
  background-color: transparent;
  border: turquoise;
  color: #fff;
  border-radius: 26px;
}

header .btn-about-me:hover {
  background-color: #d1bd8b;
  color: #fff;
}

.section-popular {
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #fff;
}

.section-popular .section-popular-heading h2 {
  font-family: "playfair display", serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-family: "Assistant", sans-serif;
  font-size: 18px;
}

.section-gallery-2 {
  min-height: 540px;
  background-color: #9F8D5F;
  margin-top: 150px;
  margin-bottom: 80px;
}

.section-gallery-2 .section-galery-heading2 {
  margin-top: 30px;
}

.section-gallery-2 .section-galery-heading2 h2,
.section-gallery-2 .section-galery-heading2 p {
  color: white;
}

.section-gallery-2 .section-galery-heading2 h2 {
  font-family: "Libre Baskerville";
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 0;
}

.section-gallery-2 .section-galery-heading2 h1 {
  margin-top: -40px;
}

.section-gallery-2 .section-galery-heading2 p {
  font-family: "Assistant", sans-serif;
  font-size: 18px;
}

.section-gallery {
  margin-top: -120px;
  margin-bottom: 100px;
}

.section-gallery .section-galery-heading {
  margin-top: 150px;
}

.section-gallery .section-galery-heading h2,
.section-gallery .section-galery-heading p {
  color: #0e0652;
}

.section-gallery .section-galery-heading h2 {
  font-family: "Libre Baskerville";
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 0;
}

.section-gallery .section-galery-heading h1 {
  margin-top: -40px;
}

.section-gallery .section-galery-heading p {
  font-family: "Assistant", sans-serif;
  font-size: 18px;
}

.section-lawyer-content {
  background-color: #F1F1F1;
}

.section-lawyer-content .section-popular-package .card-travel {
  min-height: 630px;
  background-color: #ddd;
  padding: 30px;
  background-size: cover;
  margin-bottom: 120px;
  margin-top: -100px;
  background-position: center;
}

.section-lawyer-content .section-popular-package .card-travel img {
  background-color: transparent;
}

.section-lawyer-content .section-popular-package .card-mediation {
  min-height: 570px;
  background-color: #9F8D5F;
  padding: 30px;
  background-size: cover;
  margin-bottom: 120px;
  margin-top: -100px;
  background-position: center;
}

.section-lawyer-content .section-popular-package .card-mediation img {
  background-color: transparent;
}

.section-lawyer-content .section-popular-package .travel-country {
  font-size: 18px;
  color: #fff;
}

.section-lawyer-content .section-popular-package .travel-location {
  font-size: 26px;
  color: #fff;
  padding-left: 0px;
}

.section-lawyer-content .section-popular-package .main {
  text-align: justify;
}

.section-lawyer-content .section-popular-package .travel-button .btn-travel-details {
  background-color: #ff9e53;
  color: #fff;
}

.section-lawyer-content .section-popular-package .travel-button .btn-travel-details:hover {
  background-color: #af652c;
  color: #fff;
}

.section-gallery-content .section-gallery-lawyer .card-gallery {
  min-height: 380px;
  background-color: #dddddd;
  margin-bottom: 40px;
  background-position: center;
}

.section-gallery-content .section-gallery-lawyer .card-gallery table {
  margin: 10px 20px;
}

.section-gallery-content .section-gallery-lawyer .gallery-content {
  padding: 20px;
}

.section-gallery-content .section-gallery-lawyer .gallery-content h3 {
  font-size: 22px;
}

.section-gallery-content .section-gallery-lawyer .gallery-content .lawyer-button .btn-gallery-content {
  background-color: #494A5D;
  color: #fff;
}

.section-gallery-content .section-gallery-lawyer .gallery-content .lawyer-button .btn-gallery-content:hover {
  background-color: #727387;
  color: #fff;
}

.section-help-me {
  margin-top: 150px;
  margin-bottom: 150px;
}

.section-help-me .section-galery-header h2,
.section-help-me .section-galery-header p {
  color: #494A5D;
}

.section-help-me .section-galery-header h3 {
  color: #9F8D5F;
  font-family: "Libre Baskerville";
  font-size: bold;
  margin-top: 20px;
}

.section-help-me .section-galery-header h2 {
  font-family: "Libre Baskerville";
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 0;
}

.section-help-me .section-galery-header h1 {
  margin-top: -40px;
}

.section-help-me .section-galery-header p {
  font-family: "Assistant", sans-serif;
  font-size: 18px;
}

.section-help-me .btn-see-more {
  background-color: #9F8D5F;
  color: #fff;
  border-radius: 26px;
}

.section-help-me .btn-see-more:hover {
  background-color: #d1bd8b;
  color: #fff;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ddd;
  margin-top: 210px;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  background-position: center;
}

.section-popular-content .section-popular-travel .card-travel img {
  background-color: #051334;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #ff9e53;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #af652c;
  color: #fff;
}

.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}

.section-networks p {
  font-size: 18px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 0px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: px;
  width: 180px;
}

.section-testimonial-content .card-testimonial .gallery-content {
  width: 140px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: normal;
  font-size: 22px;
  color: #87878a;
  min-height: 180px;
  margin-left: 2000px;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #87878a;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  background-color: #b69277;
  color: #fff;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #fa9e57;
  color: #fff;
}

.section-testimonial-content .btn-need-help {
  background-color: #e9e9e9;
  color: #C3C3C3;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #f7f4f4;
  color: #C3C3C3;
}

.section-footer {
  background-color: #494A5D;
}

.section-footer ul a {
  color: #ffffff;
}

.section-footer h5 {
  color: #fff;
}

.container-fluid {
  color: white;
}
/*# sourceMappingURL=main.css.map */